<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPF Book - Théo BURDINAT</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <img src="/EPF Logo + Baseline Negatif sans Fond.png" alt="EPF Logo" id="logo">
        <nav id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/students">Students list (CSV)</a></li>
                <li><a href="/students/create">Add a student (CSV)</a></li>
                <li><a href="/students/data">Display some plots</a></li>
                <li><a href="/students/from-db">Students list (MongoDB)</a></li>
                <li><a href="/students/create-in-db">Add a student (MongoDB)</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="home">
            <h1>Welcome to EPFBook !</h1>
            <p>You can naviguate through the site using the menu</p>
        </section>
    </main>
</body>
</html>
