<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= student.name %>'s page</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/put_update.js"></script>
</head>
<body>
    <header>
        <img src="/EPF Logo + Baseline Negatif sans Fond.png" alt="EPF Logo" id="logo">
        <nav id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/students">Students list (CSV)</a></li>
                <li><a href="/students/create">Add a student (CSV)</a></li>
                <li><a href="/students/data">Display some plots</a></li>
                <li><a href="/students/from-db">Students list (MongoDB)</a></li>
                <li><a href="/students/create-in-db">Add a student (MongoDB)</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form id="updateForm" data-student-id=<%= id_link %>>
            <h3>Update the profile of the student (PUT method):</h3>
            <br>
            <br>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= student.name %>" pattern="[^,]+" required/>
            <br>
            <label for="school">School:</label>
            <input type="text" id="school" name="school" value="<%= student.school %>" pattern="[^,]+" required/>
            <br>
            <input type="submit" value="Update">
        </form>
    </main>