<!DOCTYPE html>
<html>
    <head>
        <title>
            Data viz
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.css">
        <script src='https://d3js.org/d3.v5.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.js"></script>
        <script src="/students_data.js"></script>
    </head>
    <body>
        <h1>Top 5 students' stress busters</h1>
        <div id="chart"></div>
        <h1>Pie chart for the column "Health issue during lockdown"</h1>
        <div id="pie"></div>
        <h1>Cumulative proportional bar plot that show the relationship between the top 5 "Stress busters" and "Health issue during lockdown"</h1>
        <div id="stackedNormalizedChart"></div>
    </body>
</html>